
<div class="p-5 bg-dark text-white text-center">
<div class="container position-relative">
   <div class="row d-flex justify-content-center">
      <div class="col-lg-6 text-center">
        <form action="#" class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
            <input type="text" class="form-control" placeholder="Ej: Palermo">
            <button type="submit" class="btn btn-info">Buscar</button>
          </form>
        </div>
      </div>
</div>
</div>

 <br>
 <section class="pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Lugares</h2>
        </div>
 <br>
        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">

              <div class="card-body">
                <h4 class="card-title">Jane Doe</h4>
                <img class="card-img-bottom" src="https://media-cdn.tripadvisor.com/media/photo-s/1a/e0/13/d0/uptown-ba.jpg" alt="Card image"><a  routerLink= "/detalle" routerLinkActive= "active"  class="stretched-link"></a>
                <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                <a href="google.com" class="btn btn-outline-success">Yendo</a>
              </div>

            </div>

          </div><!-- End Card Item -->






          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">

              <div class="card-body">
                <h4 class="card-title">Jane Doe</h4>
                <img class="card-img-bottom" src="../bootstrap4/img_avatar6.png" alt="Card image"><a  href="service-details.html" class="stretched-link"></a>
                <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                <a href="google.com" class="btn btn-outline-success">Yendo</a>
              </div>

            </div>

          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">

              <div class="card-body">
                <h4 class="card-title">Jane Doe</h4>
                <img class="card-img-bottom" src="../bootstrap4/img_avatar6.png" alt="Card image"><a  href="service-details.html" class="stretched-link"></a>
                <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                <a href="google.com" class="btn btn-outline-success">Yendo</a>
              </div>

            </div>

          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">

              <div class="card-body">
                <h4 class="card-title">Jane Doe</h4>
                <img class="card-img-bottom" src="../bootstrap4/img_avatar6.png" alt="Card image"><a  href="service-details.html" class="stretched-link"></a>
                <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                <a href="google.com" class="btn btn-outline-success">Yendo</a>
              </div>

            </div>

          </div><!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">

              <div class="card-body">
                <h4 class="card-title">Jane Doe</h4>
                <img class="card-img-bottom" src="../bootstrap4/img_avatar6.png" alt="Card image"><a  href="service-details.html" class="stretched-link"></a>
                <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
                <a href="google.com" class="btn btn-outline-success">Yendo</a>
              </div>

            </div>

          </div><!-- End Card Item -->

          </div>




 <br>
<br>
<div class="p-5 bg-dark text-white text-center">
  
</div>




